.productsTable{
    margin: 0 auto;
    /*font-size:2rem;*/
    float: right;
    border: solid 1px grey;

}
tr:nth-child(even){
    background-color:lightgrey;

}
/*table, th, td {*/
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
/*}*/
/*table {*/
    /*border-collapse: collapse;*/
/*}*/

input{
    float: right;
}
form{
    width: 600px;
    float: left;
}
.formContainer{
    margin: 20px;
    width: 300px;
    line-height: 20px;
    /*position:fixed;*/
    /*bottom: 100px;*/
}
.productsTableContainer {

    /*height: 750px;*/
    /*overflow-y: auto;*/
 }
.cartContainer{
    float:right;
    margin: 20px;
}
.finalPrice{
    float:right;
    margin: 10px;
}
.cartTable{
    margin: 10px;
}
.couponTable{
    margin: 10px;
}
.couponInputContainer{
    margin: 10px;
    /*float: left;*/
}
